{% extends 'layout.html' %}

{% block title %}
    <title>Award Winners &#8211; Dark Layout</title>
{% endblock %}

{% block top %}
<div class="section">
            <div class="container">
                                <div class="row">
                                                        <div class="col-md-10 col-md-offset-1 text-center">
                                                                                    <div class="section-title page-title">
                                                                                                                    <h3 class="small-title">Award Winners</h3>
                                                                                                                                                <p>Most popular sites in the past week. Evaluation is closed.</p>

                                                                                                                                                                            <div class="bread">
                                                                                                                                                                                                                <ol class="breadcrumb">
                                                                                                                                                                                                                    <li><a href="{{url_for('index')}}">Home</a></li>
                                                                                                                                                                                                                                                                                            <li class="active">Award Winners</li>
                                                                                                                                                                                                                                                                                                                            </ol>
                                                                                                                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                </div><!-- end text-widget -->
                                                                                                                                                                                                                                                                                                                                                                                                    </div><!-- end col -->
                                                                                                                                                                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                        </div>
{% endblock %}

{% block body %}
                <div class="container">


                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="content-page">
                            <div class="post-padding clearfix">
                                <div id="pl-69" class="panel-layout">
                                    <div id="pg-69-0" class="panel-grid panel-no-style">
                                        <div id="pgc-69-0-0" class="panel-grid-cell">
                                            <div id="panel-69-0-0-0"
                                                class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                data-index="0">
                                                <div class="textwidget">
                                                    <div class="ts-nominees ts-nominees-loop list-items">
                                                        {% for winner in winners %}
                                                        {% if winner.winner %}
                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.1s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image nominee-image entry">
                                                                    <a href="{{url_for('nominee_category_detail', name=winner.name)}}"
                                                                        title="">
                                                                        <img src="{{url_for('get_upload', filename=winner.image_url)}}"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="{{url_for('nominee_category_detail', name=winner.name)}}"
                                                                            title="">
                                                                            <h4>{{winner.name}}</h4>
                                                                        </a>
                                                                        <p> <a href="#"
                                                                               title="">{{winner.category}}</a></p>
                                                                    </div>
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}

                                                                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <!-- Content Wrap -->

            {% endblock %}
        
