{% extends 'layout.html' %}

{% block title %}
    <title>Award Winners &#8211; Dark Layout</title>
{% endblock %}

{% block body %}
                <div class="container">


                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="content-page">
                            <div class="post-padding clearfix">
                                <div id="pl-69" class="panel-layout">
                                    <div id="pg-69-0" class="panel-grid panel-no-style">
                                        <div id="pgc-69-0-0" class="panel-grid-cell">
                                            <div id="panel-69-0-0-0"
                                                class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                data-index="0">
                                                <div class="textwidget">
                                                    <div class="ts-nominees ts-nominees-loop list-items">

                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.1s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image nominee-image entry">
                                                                    <a href="../nominee/aiga-design-2/index.html"
                                                                        title="">
                                                                        <img src="../assets/images/nominees/Sanusi-Lamido-Sanusi.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/aiga-design-2/index.html"
                                                                            title="">
                                                                            <h4>AIGA Design</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/awards/index.html"
                                                                                title="">awards</a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/aiga-design-2/index.html?action=process_simple_like&amp;post_id=156&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-156 liked"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="156" data-iscomment="0"
                                                                                title="Unlike"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">63</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.2s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/pharrell-williams/index.html"
                                                                        title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_08-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/pharrell-williams/index.html"
                                                                            title="">
                                                                            <h4>Pharrell Williams</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/pharrell-williams/index.html?action=process_simple_like&amp;post_id=105&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-105"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="105" data-iscomment="0"
                                                                                title="Like"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">64</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.3s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/papazian-jewelry/index.html"
                                                                        title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_09-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/papazian-jewelry/index.html"
                                                                            title="">
                                                                            <h4>Papazian Jewelry</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/papazian-jewelry/index.html?action=process_simple_like&amp;post_id=104&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-104"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="104" data-iscomment="0"
                                                                                title="Like"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">39</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.4s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/sourdoreille/index.html"
                                                                        title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_10-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/sourdoreille/index.html"
                                                                            title="">
                                                                            <h4>Sourdoreille</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/sourdoreille/index.html?action=process_simple_like&amp;post_id=103&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-103"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="103" data-iscomment="0"
                                                                                title="Like"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">26</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.5s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/bundy-bundy/index.html"
                                                                        title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_11-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/bundy-bundy/index.html"
                                                                            title="">
                                                                            <h4>Bundy Bundy</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/bundy-bundy/index.html?action=process_simple_like&amp;post_id=102&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-102 liked"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="102" data-iscomment="0"
                                                                                title="Unlike"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">26</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.6s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/quechua-lookbook/index.html"
                                                                        title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_12-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/quechua-lookbook/index.html"
                                                                            title="">
                                                                            <h4>Quechua Lookbook</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/quechua-lookbook/index.html?action=process_simple_like&amp;post_id=101&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-101 liked"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="101" data-iscomment="0"
                                                                                title="Unlike"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">28</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.7s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/diadora/index.html" title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_13-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/diadora/index.html"
                                                                            title="">
                                                                            <h4>Diadora</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/diadora/index.html?action=process_simple_like&amp;post_id=99&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-99"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="99" data-iscomment="0"
                                                                                title="Like"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">31</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.8s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/startuplab/index.html" title="">
                                                                        <img src="../assets/images/award_01-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/startuplab/index.html"
                                                                            title="">
                                                                            <h4>StartupLab</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/startuplab/index.html?action=process_simple_like&amp;post_id=96&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-96 liked"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="96" data-iscomment="0"
                                                                                title="Unlike"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">21</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.9s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/susa-ventures/index.html"
                                                                        title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_02-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/susa-ventures/index.html"
                                                                            title="">
                                                                            <h4>Susa Ventures</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/susa-ventures/index.html?action=process_simple_like&amp;post_id=94&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-94 liked"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="94" data-iscomment="0"
                                                                                title="Unlike"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">9</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>


                                                        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.10s">
                                                            <div class="site-wrapper">
                                                                <div class="award-image entry">
                                                                    <a href="../nominee/measponte/index.html" title="">
                                                                        <img src="../wp-content/uploads/sites/3/2016/12/award_03-700x500.jpg"
                                                                            alt="" class="img-responsive">
                                                                    </a>
                                                                </div><!-- end image -->

                                                                <div class="site-small-desc clearfix">
                                                                    <div class="pull-left">
                                                                        <a href="../nominee/measponte/index.html"
                                                                            title="">
                                                                            <h4>Measponte</h4>
                                                                        </a>
                                                                        <p>By: <a href="../author/index.html"
                                                                                title=""></a></p>
                                                                    </div>
                                                                    <div class="likebutton pull-right text-center">
                                                                        <div class="sl-wrapper"><a
                                                                                href="../nominee/measponte/index.html?action=process_simple_like&amp;post_id=91&amp;nonce=1931126ad5&amp;is_comment=0&amp;disabled=true"
                                                                                class="sl-button sl-button-91"
                                                                                data-nonce="1931126ad5"
                                                                                data-post-id="91" data-iscomment="0"
                                                                                title="Like"><span class="sl-icon"><i
                                                                                        class="flaticon-heart"></i></span><span
                                                                                    class="sl-count">9</span></a>
                                                                            <div class="sl-loader"></div>
                                                                        </div>
                                                                    </div><!-- end pull-right -->
                                                                </div><!-- end desc -->
                                                            </div><!-- end site-wrapper -->
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <!-- Content Wrap -->

            {% endblock %}
        
