{% extends 'layout.html'%}

{% block title %}
<title>Nominee - {{nominee.name}}</title>
{% endblock %}
{% block body %}
                <div class="container-fluid">


                <div class="row-fluid">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">


                        <div class="row single-top-content">
                            <div class="col-md-6 col-sm-12">
                                <div class="award-image entry">
                                    <a href="#" target="_blank" rel="nofollow">
                                        <img src="{{url_for('get_upload', filename=nominee.image_url)}}" alt="award_09">
                                        <div class="magnifier">

                                                {% if nominee.__tablename__ != "judges"  %}
                                            <div class="magni-desc">
                                                <h4>{{nominee.category}}</h4>
                                            </div>
                                            {% endif %}
                                        </div><!-- end magnifier -->
                                    </a>
                                </div><!-- end image -->

                                <div class="site-single-share clearfix">
                                    <div class="pull-left">
                                        <ul class="list-inline software_version">

                                                {% if nominee.__tablename__ != "judges"  %}
                                            <li>Award for  {{nominee.category.name}}<i class="fa fa-tags"></i></li>

                                            {% endif %}
                                        </ul>
                                    </div><!-- end left -->
                                   
                                </div><!-- end publisher -->
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="award-details awards-wrapper">
                                    <div class="site-publisher clearfix">
                                        <h4 class="site-title">Name: {{nominee.name}}</h4>

                                                {% if nominee.__tablename__ == "nominees"  %}
                                        <h4 class="site-title">Country: {{nominee.country}}</h4>
                                        {% endif %}
                                        <p>
                                        {{nominee.description}}</p>
                                    </div><!-- end publisher -->




                                </div><!-- end details -->
                            </div>

                            <div class="clearfix"></div>
                            <hr class="invis">

                       

                        </div><!-- end .row -->

                


                    </div>


                </div>

            </div>
            <!-- Content Wrap -->

            {% endblock %}
        
