{% extends 'layout.html'%}
{% block title %}
    <title>Home</title>
{% endblock %}


{% block body %}
<style>
.site-publisher img {
    height: 60px !important;
    width: 60px !important;
}
</style>
            <div class="container">


                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="content-page">
                            <div class="padding-no-bor clearfix">
                                <div id="pl-57" class="panel-layout">
                                    <div id="pg-57-0" class="panel-grid panel-has-style">
                                        <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-57-0"
                                            data-stretch-type="full">
                                            <div id="pgc-57-0-0" class="panel-grid-cell">
                                                <div id="panel-57-0-0-0"
                                                    class="so-panel widget widget_themestall themestall panel-first-child"
                                                    data-index="0">
                                                    {% if winner and award.show_on_billboard %}
                                                    <div class="textwidget">
                                                        <div class="ts-nominees ts-nominees-featured row">
                                                            <div class="col-md-7">
                                                                <div class="award-image entry" style="height: 500px;">
                                                                    <a href="{{url_for('nominee_category_detail', name=winner.name)}}" title="">
                                                                        <img src="{{url_for('get_upload', filename=winner.image_url)}}"
                                                                            alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="magni-desc">
                                                                                <h4>Award Winner</h4>
                                                                            </div>
                                                                        </div><!-- end magnifier -->
                                                                    </a>
                                                                </div><!-- end image -->
                                                            </div><!-- end col -->

                                                            <div class="col-md-5">
                                                                <div class="award-details awards-wrapper" style="">
                                                                    <div class="site-publisher clearfix" >
                                                                        <div class="corner-ribbon top-right"><a
                                                                             href="{{url_for('nominee_category_detail', name=winner.name)}}"><i
                                                                                    class="flaticon-heart"></i></a>
                                                                        </div>
                                                                        <img src="{{url_for('get_upload', filename=winner.image_url)}}"
                                                                            width="60" height="60" alt="awards"
                                                                            class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" />
                                                                        <div style="display:flex;">
                                                                            <div>
                                                                        <a href="#" title="">
                                                                            <h4> Award Category
                                                                            </h4>
                                                                        </a>
                                                                        <small>{{winner.category.name}}</small>
                                                                            </div>
                                                                            <div style="padding-left:14px;">
<a href="#" title="">
                                                                            <h4>Country 
                                                                            </h4>
                                                                        </a>
                                                                        <small>{{winner.country}}</small>
                                                                            </div>
                                                                    </div>
                                                                    </div><!-- end publisher -->

                                                                                                                                        <div class="site-publisher clearfix" style="min-height: 382px;max-height: 382px;">
                                                                        <h4><a href="{{url_for('nominee_category_detail', name=winner.name)}}"
                                                                                                                      title="">{{winner.name}}
                                                                               &nbsp;&nbsp;<small>Learn
                                                                                    More</small></a></h4>
                                                                        <p> 
                                                                        {% if winner.description|length < 500 %}
                                                                                                                      {{winner.description}}
                                                                                                                      {% else %}
                                                                                                                                               {{winner.description[:501]}}
                                                                                                                      <a class="read-more" href="{{url_for('nominee_category_detail', name=winner.name)}}">&#8230;</a>
                                                                                                                                               {% endif %}
                                                                        </p>
                                                                    </div><!-- end publisher -->
                                                                </div><!-- end details -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div>


                                                    {% elif winner %}
                                                    <div class="textwidget">
                                                        <div class="ts-nominees ts-nominees-featured row">
                                                            <div class="col-md-7">
                                                                <div class="award-image entry" style="height: 500px;">
                                                                    <a href="{{url_for('nominee_category_detail', name=winner.name)}}" title="">
                                                                        <img src="{{url_for('get_upload', filename=winner.image_url)}}"
                                                                            alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="magni-desc">
                                                                                {% if winner.category %}
                                                                                <h4>Award Winner</h4>
                                                                                {% else %}

                                                                                <h4>Award</h4>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div><!-- end magnifier -->
                                                                    </a>
                                                                </div><!-- end image -->
                                                            </div><!-- end col -->

                                                            <div class="col-md-5">
                                                                <div class="award-details awards-wrapper" style="">
                                                                    <div class="site-publisher clearfix" >
                                                                        <div class="corner-ribbon top-right"><a
                                                                             href="{{url_for('nominee_category_detail', name=winner.name)}}"><i
                                                                                    class="flaticon-heart"></i></a>
                                                                        </div>
                                                                        <img src="{{url_for('get_upload', filename=winner.image_url)}}"
                                                                            width="60" height="60" alt="awards"
                                                                            class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" />
                                                                        <div style="display:flex;">
                                                                            {% if winner.category %}
                                                                            <div>
                                                                        <a href="#" title="">
                                                                            <h4> Award Category
                                                                            </h4>
                                                                        </a>
                                                                        <small>{{winner.category.name}}</small>
                                                                            </div>
                                                                            {% endif %}
                                                                            <div style="padding-left:14px;">
<a href="#" title="">
                                                                            <h4>Country 
                                                                            </h4>
                                                                        </a>
                                                                        <small>{{winner.country}}</small>
                                                                            </div>
                                                                    </div>
                                                                    </div><!-- end publisher -->

                                                                                                                                        <div class="site-publisher clearfix" style="min-height: 382px;max-height: 382px;">
                                                                        <h4><a href="{{url_for('nominee_category_detail', name=winner.name)}}"
                                                                                                                      title="">{{winner.name}}
                                                                               &nbsp;&nbsp;<small>Learn
                                                                                    More</small></a></h4>
                                                                        <p> 
                                                                        {% if winner.description|length < 500 %}
                                                                                                                      {{winner.description}}
                                                                                                                      {% else %}
                                                                                                                                               {{winner.description[:501]}}
                                                                                                                      <a class="read-more" href="{{url_for('nominee_category_detail', name=winner.name)}}">&#8230;</a>
                                                                                                                                               {% endif %}
                                                                        </p>
                                                                    </div><!-- end publisher -->
                                                                </div><!-- end details -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div>


                                                    {% elif award.show_on_billboard %}
                                                    <div class="textwidget">
                                                        <div class="ts-nominees ts-nominees-featured row">
                                                            <div class="col-md-7">
                                                                <div class="award-image entry" style="height: 500px;">
                                                                    <a href="{{url_for('award_category_detail', name=award.name)}}" title="">
                                                                        <img src="{{url_for('get_upload', filename=award.image_url)}}"
                                                                            alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="magni-desc">
                                                                                <h4>{{award.name}}</h4>
                                                                            </div>
                                                                        </div><!-- end magnifier -->
                                                                    </a>
                                                                </div><!-- end image -->
                                                            </div><!-- end col -->

                                                            <div class="col-md-5">
                                                                <div class="award-details awards-wrapper" style="">
                                                                    <div class="site-publisher clearfix" >
                                                                        <div class="corner-ribbon top-right"><a
                                                                             href="{{url_for('award_category_detail', name=award.name)}}"><i
                                                                                    class="flaticon-heart"></i></a>
                                                                        </div>
                                                                        <img src="{{url_for('get_upload', filename=award.image_url)}}"
                                                                            width="60" height="60" alt="awards"
                                                                            class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 alignnone photo" />
                                                                        <div style="display:flex;">
                                                                            <div>
                                                                                <a href="{{url_for('award_category_detail', name=award.name)}}" title="">
                                                                            <h4>{{award.name}} 
                                                                            </h4>
                                                                        </a>
                                                                            </div>
                                                                           
                                                                    </div>
                                                                    </div><!-- end publisher -->

                                                                                                                                        <div class="site-publisher clearfix" style="min-height: 382px;max-height: 382px;">
                                                                        <h4><a href="{{url_for('award_category_detail', name=award.name)}}"
                                                                                                                      title="">
                                                                               &nbsp;&nbsp;<small>Learn
                                                                                    More</small></a></h4>
                                                                        <p> 
                                                                        {% if award.description|length < 500 %}
                                                                                                                      {{award.description}}
                                                                                                                      {% else %}
                                                                                                                                               {{award.description[:501]}}
                                                                                                                      <a class="read-more" href="{{url_for('award_category_detail', name=award.name)}}">&#8230;</a>
                                                                                                                                               {% endif %}
                                                                        </p>
                                                                    </div><!-- end publisher -->
                                                                </div><!-- end details -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div>

                                                    
                                                    {% endif %}
                                                </div>
                                                <!-- <div id="panel-57-0-0-1"
                                                    class="so-panel widget widget_themestall themestall panel-last-child"
                                                award    data-index="1">
                                                    <div class="textwidget">
                                                        <div class="search-top site-search clearfix">
                                                            <div class="row">
                                                                <form action="#/awards/demos/dark/"
                                                                    method="get" role="search">
                                                                    <div class="col-sm-3">
                                                                        <div class="form-group">
                                                                            <input type="hidden" name="post_type"
                                                                                value="nominee" />
                                                                            <input type="hidden"
                                                                                name="custom_search_nominee"
                                                                                value="nominee_search" />
                                                                            <select class="selectpicker form-control"
                                                                                data-size="8" name="nominee_tags">
                                                                                <option value="html"
                                                                                    data-tokens="responsive">html
                                                                                </option>
                                                                                <option value="portfolio"
                                                                                    data-tokens="responsive">portfolio
                                                                                </option>
                                                                                <option value="responsive"
                                                                                    data-tokens="responsive">responsive
                                                                                </option>
                                                                                <option value="wordpress"
                                                                                    data-tokens="responsive">wordpress
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <div class="form-group">
                                                                            <select class="selectpicker form-control"
                                                                                data-size="8" name="nominee_categories">
                                                                                <option value="html"
                                                                                    data-tokens="responsive">html
                                                                                </option>
                                                                                <option value="wordpress"
                                                                                    data-tokens="responsive">WordPress
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="form-group">
                                                                            <select class="selectpicker form-control"
                                                                                data-size="8" name="nominee_softwares">
                                                                                <option value="wordpress"
                                                                                    data-tokens="wordpress">WordPress
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="form-group">
                                                                            <select class="selectpicker form-control"
                                                                                data-size="8" name="nominee_colors">
                                                                                <option value="black">Black</option>
                                                                                <option value="blue">Blue</option>
                                                                                <option value="green">Green</option>
                                                                                <option value="red">Red</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-2">
                                                                        <input type="submit"
                                                                            class="btn btn-primary btn-block"
                                                                            value="Search">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div id="pg-57-1" class="panel-grid panel-has-style">
                                        <div class="panel-row-style panel-row-style-for-57-1" style="padding-left:20px;padding-right:20px;">
                                            <div id="pgc-57-1-0" class="panel-grid-cell">
                                                <div id="panel-57-1-0-0"
                                                    class="so-panel widget widget_themestall themestall panel-first-child"
                                                    data-index="2">
                                                    <div class="textwidget">
                                                        <h3 class="ts-heading ts-heading-style-2 ts-heading-align-left"
                                                            style="margin-top:0px; margin-bottom:0px; font-size: 55px; text-transform: capitalize; color: #ffffff; letter-spacing: 0px; ">
                                                            <span class="ts-heading-inner">{{judges_text.header_text}}</span></h3>
                                                    </div>
                                                </div>
                                                <div id="panel-57-1-0-1"
                                                    class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-last-child"
                                                    data-index="3">
                                                    <div class="textwidget">
                                                        <p>{{judges_text.text}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="pgc-57-1-1" class="panel-grid-cell">
                                                <div id="panel-57-1-1-0"
                                                    class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                    data-index="4">
                                                    <div class="textwidget">
                                                        <div class="ts-nominees ts-nominees-loop awards-winner row">

                                                            {% for judge in judges %}
                                                            <div class="col-md-6 wow fadeIn" data-wow-duration="1s"
                                                                data-wow-delay="0.8s">
                                                                <div class="award-image entry" style="height:205px;">
                                                                    <a href="#" title="">
                                                                        <img src="{{url_for('get_upload', filename=judge.image_url)}}"
                                                                            alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="magni-desc">
                                                                                <h4>{{judge.name}}</h4>
                                                                            </div>
                                                                        </div><!-- end magnifier -->
                                                                    </a>
                                                                </div><!-- end image -->
                                                            </div>
                                                            {% endfor %}
                                                                                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="pg-57-2" class="panel-grid panel-has-style">
                                        <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-57-2"
                                            data-stretch-type="full-stretched">
                                            <div id="pgc-57-2-0" class="panel-grid-cell">
                                                <div id="panel-57-2-0-0"
                                                    class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                    data-index="5">
                                                    <div class="textwidget">
                                                        <div class="col-md-8 col-md-offset-2 text-center">
                                                            <div class="section-title" style="margin-bottom: 45px;">
                                                                <h3 class="small-title" style="font-size: 55px;">
                                                                    {{nominee_text.header_text }}</h3>
                                                                <p>{{nominee_text.text}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="ts-nominees ts-nominees-loop list-items">

                                                            {% for nominee in nominees[::-1][:4] %}
                                                            <div class="col-md-3 col-sm-6 wow fadeIn"
                                                                data-wow-duration="1s" data-wow-delay="0.1s">
                                                                <div class="site-wrapper">
                                                                    <div class="award-image entry" style="height:167px"
                                                                >
                                                                        <a href="{{url_for('nominee_category_detail', name=nominee.name)}}"
                                                                            title="">
                                                                            <img src="{{url_for('get_upload', filename=nominee.image_url)}}"
                                                                                alt="" class="img-responsive">
                                                                        </a>
                                                                    </div><!-- end image -->

                                                                    <div class="site-small-desc clearfix">
                                                                        <div class="pull-left">
                                                                            <a href="{{url_for('nominee_category_detail', name=nominee.name)}}"
                                                                                                                       title="{{nominee.name}}">
                                                                                <h4>
                                                                                    {% if nominee.name|length <=20 %}
                                                                                    {{nominee.name}}
                                                                                    {% else %}
                                                                                    {{nominee.name[:22]}} &#8230;
                                                                                    {% endif %}
                                                                                </h4>
                                                                            </a>
                                                                            {% if nominee.category %}
                        <p><a title="{{nominee.category}}" href="#">
                                            {% if nominee.category.name|length <= 20 %}
                                            {{nominee.category}}
                                            {% else %}
                                            {{nominee.category.name[:20]}} &#8230;
                                            {% endif %}
                                        </a></p>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="likebutton pull-right text-center">
                                                                            <!--
                                                                            <div class="sl-wrapper"><a
                                                                                    href="#"
                                                                                    class="sl-button sl-button-156"
                                                                                    data-nonce="1931126ad5"
                                                                                    data-post-id="156"
                                                                                    data-iscomment="0"
                                                                                    title="Like"><span
                                                                                        class="sl-icon"><i
                                                                                            class="flaticon-heart"></i></span><span
                                                                                        class="sl-count">61</span></a>
                                                                                <div class="sl-loader"></div>
                                                                            </div>
                                                                            -->
                                                                        </div><!-- end pull-right -->
                                                                    </div><!-- end desc -->
                                                                </div><!-- end site-wrapper -->
                                                            </div>
                                                            {% endfor %}

                                                        </div>
                                                        <div class="ts-spacer" style="height:20px"></div>
                                                        <div class="ts-button-center"><a
                                                             href="{{url_for('nominee_category')}}"
                                                                data-hoverback="rgb(255, 179, 0)"
                                                                data-currentbg="rgba(255,255,255, 0)"
                                                                data-currentbor="#ffffff" data-currentcolor="#ffffff"
                                                                data-hovercolor="#ffffff"
                                                                class="ts-button ts-button-style-standard"
                                                                style="color:#ffffff;background:rgba(255,255,255, 0);border-color:#ffffff;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px"
                                                                target="_self"><span
                                                                    style="padding:0px 16px;font-size:13px;line-height:20px;border-color:#ffffff;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">VIEW
                                                                    ALL NOMINEES </span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if awards %}
                                    <!-- expected comment start -->
                                    <div id="pg-57-4" class="panel-grid panel-has-style">
                                        <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-57-4"
                                            data-stretch-type="full">
                                            <div id="pgc-57-4-0" class="panel-grid-cell">
                                                <div id="panel-57-4-0-0"
                                                    class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                    data-index="9">
                                                    <div class="textwidget">
                                                        <div class="col-md-8 col-md-offset-2 text-center">
                                                            <div class="section-title" style="margin-bottom: 55px;">
                                                                <h3 class="small-title" style="font-size: 55px;">
                                                                    Awards </h3>
                                                                <p> Awards to be given to the winner of the various categories
                                                                    </p>
                                                            </div>
                                                        </div>

                                                        <div class="row list-items">
                                                            {% for award in awards %}
                                                            <div class="col-md-3 col-sm-6 wow fadeIn"
                                                                data-wow-duration="1s" data-wow-delay="0.1s">
                                                                <div class="site-wrapper">
                                                                    <div class="award-image entry" style="height:167px"
                                                                >
                                                                        <a href="{{url_for('award_category_detail', name=award.name)}}"
                                                                            title="">
                                                                            <img src="{{url_for('get_upload', filename=award.image_url)}}"
                                                                                alt="" class="img-responsive">
                                                                        </a>
                                                                    </div><!-- end image -->

                                                                    <div class="site-small-desc clearfix">
                                                                        <div class="pull-left">
                                                                            <a href="{{url_for('award_category_detail', name=award.name)}}"
                                                                                title="">
                                                                                <h4>{{award.name}}</h4>
                                                                            </a>
                                                                            {% if award.category %}
                                                                            <p><a href="#"
                                                                                      title="">{{award.category}}</a></p>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="likebutton pull-right text-center">
                                                                            <!--
                                                                            <div class="sl-wrapper"><a
                                                                                    href="#"
                                                                                    class="sl-button sl-button-156"
                                                                                    data-nonce="1931126ad5"
                                                                                    data-post-id="156"
                                                                                    data-iscomment="0"
                                                                                    title="Like"><span
                                                                                        class="sl-icon"><i
                                                                                            class="flaticon-heart"></i></span><span
                                                                                        class="sl-count">61</span></a>
                                                                                <div class="sl-loader"></div>
                                                                            </div>
                                                                            -->
                                                                        </div><!-- end pull-right -->
                                                                    </div><!-- end desc -->
                                                                </div><!-- end site-wrapper -->
                                                            </div>
                                                            {% endfor %}


                                                            <!---
                                                            <div class="col-md-4 wow fadeIn" data-wow-duration="1s"
                                                                data-wow-delay="0.2s">
                                                                <div class="award-details awards-wrapper">
                                                                    <div class="site-publisher clearfix">
                                                                        <img src="https://via.placeholder.com/150"
                                                                            width="60" height="60" alt="Avatar"
                                                                            class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 photo avatar-default" />
                                                                        <a href="author/afcode/index.html" title="">
                                                                            <h4>afcode</h4>
                                                                        </a>
                                                                        <small></small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            -->

                                                        </div>
                                                        <div class="ts-spacer" style="height:20px"></div>
                                                        <!--
                                                        <div class="ts-button-center"><a
                                                                href="#"
                                                                data-hoverback="rgb(255, 179, 0)"
                                                                data-currentbg="rgba(255,255,255, 0)"
                                                                data-currentbor="#ffffff" data-currentcolor="#ffffff"
                                                                data-hovercolor="#ffffff"
                                                                class="ts-button ts-button-style-standard"
                                                                style="color:#ffffff;background:rgba(255,255,255, 0);border-color:#ffffff;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px"
                                                                target="_self"><span
                                                                    style="padding:0px 16px;font-size:13px;line-height:22px;border-color:#ffffff;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">VIEW
                                                                    ALL AGENCIES </span></a></div>
                                                        -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- expected comment-->
                                    {% endif %}


                                    <div id="pg-57-3" class="panel-grid panel-has-style">
                                        <div class="parallax siteorigin-panels-stretch panel-row-style panel-row-style-for-57-3"
                                            data-stretch-type="full">
                                            <div id="pgc-57-3-0" class="panel-grid-cell">
                                                <div id="panel-57-3-0-0"
                                                    class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child"
                                                    data-index="6">
                                                    <div
                                                        class="text-center panel-widget-style panel-widget-style-for-57-3-0-0">
                                                        <div class="textwidget"><a
                                                                href="index.html"><img
                                                                    class="alignnone size-full wp-image-62"
                                                                    src="{{url_for('static', filename='images/fdlogo.png')}}"
                                                                    alt="logo" width="100" height="100" /></a></div>
                                                    </div>
                                                </div>
                                                {% if False %}
                                                <div id="panel-57-3-0-1"
                                                    class="so-panel widget widget_themestall themestall" data-index="7">
                                                    <div class="textwidget">
                                                        <div class="col-md-8 col-md-offset-2 text-center">
                                                            <div class="section-title" style="margin-bottom: 0px;">
                                                                <h3 class="small-title" style="font-size: 52px;">Web
                                                                    Design Inspiration Gallery</h3>
                                                                <p>Browse Web Design Inspiration and subscribe to
                                                                    receive inspiration to your inbox.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="panel-57-3-0-2"
                                                    class="so-panel widget widget_newsletterwidget panel-last-child"
                                                    data-index="8">
                                                    <div class="tnp tnp-widget">
                                                        <form method="post"
                                                            action="#/awards/demos/dark/?na=s">

                                                            <input type="hidden" name="nr" value="widget"><input
                                                                type="hidden" name="nlang" value="">
                                                            <div class="tnp-field tnp-field-email"><label
                                                                    for="tnp-email">Email</label>
                                                                <input class="tnp-email" type="email" name="ne" value=""
                                                                    required></div>
                                                            <div class="tnp-field tnp-field-button"><input
                                                                    class="tnp-submit" type="submit" value="Subscribe">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <!-- Content Wrap -->

            {% endblock %}
        
