{% extends 'layout.html' %}

{% block title %}
    <title>Agencies</title>
{% endblock %}

{% block body %}
                <div class="container">


                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="content-page">
                            <div class="post-padding clearfix">
                                <div id="pl-67" class="panel-layout">
                                    <div id="pg-67-0" class="panel-grid panel-no-style">
                                        <div id="pgc-67-0-0" class="panel-grid-cell">
                                            <div id="panel-67-0-0-0"
                                                class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                data-index="0">
                                                <div class="textwidget">
                                                    <div class="row list-items">
                                                        <div class="col-md-4 wow fadeIn" data-wow-duration="1s"
                                                            data-wow-delay="0.2s">
                                                            <div class="award-details awards-wrapper">
                                                                <div class="site-publisher clearfix">
                                                                    <img src="https://via.placeholder.com/150"
                                                                        width="60" height="60" alt="Avatar"
                                                                        class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 photo avatar-default" />
                                                                    <a href="../author/afcode/index.html" title="">
                                                                        <h4>afcode</h4>
                                                                    </a>
                                                                    <small></small>
                                                                </div><!-- end publisher -->
                                                            </div><!-- end details -->
                                                        </div><!-- end col -->
                                                        <nav class="agency-pagination clearfix">
                                                            <div class="pagination"></div>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <!-- Content Wrap -->

            {% endblock %}
        
