    {% extends 'layout.html'%}
    {% block title %}
        <title>About Us</title>
    {% endblock %}

    {% block body %}
                <div class="container">


                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="content-page">
                            <div class="padding-no-bor clearfix">
                                <div id="pl-65" class="panel-layout">
                                    <div id="pg-65-0" class="panel-grid panel-has-style">
                                        <div class="panel-row-style panel-row-style-for-65-0">
                                            <div id="pgc-65-0-0" class="panel-grid-cell">
                                                <div id="panel-65-0-0-0"
                                                    class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                    data-index="0">
                                                    <div class="textwidget">
                                                        <div class="col-md-8 col-md-offset-2 text-center">
                                                            <div class="section-title" style="margin-bottom: 45px;">
                                                                <small>Showing Appreciation For Your Effort</small>
                                                                <h3 class="small-title" style="font-size: 55px;">About
                                                                    The Award</h3>
                                                                <!-- <p>Each selected by one skilled in their profession,
                                                                    examples of the world&#039;s most beautiful
                                                                    websites. You can submit your website at
                                                                    &#039;Awards&#039; and get a chance to attract
                                                                    hundreds of hourly unique visitors around the world,
                                                                    which includes web designers, app developers and
                                                                    superb agencies.</p> -->
                                                                <p>
                                                                    The African pillars award is a yearly accolade,
                                                                    designed to thank and celebrate Africa’s most
                                                                    impactful Personalities from different walks of
                                                                    life; men and women who have made positive
                                                                    statements with their lives and as well made
                                                                    significant contributions with their resources to
                                                                    foster hope and bolster speedy development in their
                                                                    respective countries and regions, in accordance with
                                                                    the 17 SDGS of the United Nations.
                                                                </p>
                                                                <p style="margin-top: 2rem;">
                                                                    All nominees for this award are selected by local
                                                                    and international SDG ambassadors and observers.
                                                                    Based on evident works and public recommendations.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 

                                    {% if False %}

                                    <div id="pg-65-2" class="panel-grid panel-has-style">
                                        <div class="panel-row-style panel-row-style-for-65-2">
                                            <div id="pgc-65-2-0" class="panel-grid-cell">
                                                <div id="panel-65-2-0-0"
                                                    class="so-panel widget widget_themestall themestall panel-first-child"
                                                    data-index="2">
                                                    <div class="textwidget">
                                                        <div class="col-md-8 col-md-offset-2 text-center">
                                                            <div class="section-title" style="margin-bottom: 15px;">
                                                                <h3 class="small-title" style="font-size: 55px;">FAQS
                                                                </h3>
                                                                <p>Frequently Asked Questions</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="panel-65-2-0-1"
                                                    class="so-panel widget widget_siteorigin-panels-builder"
                                                    data-index="3">
                                                    <div id="pl-w5844557114074" class="panel-layout">
                                                        <div id="pg-w5844557114074-0" class="panel-grid panel-no-style">
                                                            <div id="pgc-w5844557114074-0-0" class="panel-grid-cell">
                                                                <div id="panel-w5844557114074-0-0-0"
                                                                    class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                                    data-index="0">
                                                                    <div class="textwidget">
                                                                        <div class="question">
                                                                            <h3><strong>Q:</strong> What is Status?</h3>
                                                                            <p>Probably it will be approved within
                                                                                hours. Sometimes the approval process up
                                                                                to 24 hours. Thank you for your
                                                                                understanding.</p>
                                                                        </div>
                                                                        <div class="question">
                                                                            <h3><strong>Q:</strong> Submission approve
                                                                                guarantee?</h3>
                                                                            <p>No, unfortunately it is no guarantee. We
                                                                                are very careful about to share more
                                                                                quality websites. We approve only high
                                                                                quality websites and agencies.</p>
                                                                        </div>
                                                                        <div class="question">
                                                                            <h3><strong>Q:</strong> Submission free?
                                                                            </h3>
                                                                            <p>Yes, to submission the icon packages are
                                                                                100% free. To meet with hundreds of
                                                                                followers and increase your popularity
                                                                                with your design.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="pgc-w5844557114074-0-1" class="panel-grid-cell">
                                                                <div id="panel-w5844557114074-0-1-0"
                                                                    class="so-panel widget widget_themestall themestall panel-first-child panel-last-child"
                                                                    data-index="1">
                                                                    <div class="textwidget">
                                                                        <div class="question">
                                                                            <h3><strong>Q:</strong> Can I delete my
                                                                                site?</h3>
                                                                            <p>Probably it will be approved within
                                                                                hours. Sometimes the approval process up
                                                                                to 24 hours. Thank you for your
                                                                                understanding.</p>
                                                                        </div>
                                                                        <div class="question">
                                                                            <h3><strong>Q:</strong> Money back
                                                                                guarantee?</h3>
                                                                            <p>No, unfortunately it is no guarantee. We
                                                                                are very careful about to share more
                                                                                quality websites. We approve only high
                                                                                quality websites and agencies.</p>
                                                                        </div>
                                                                        <div class="question">
                                                                            <h3><strong>Q:</strong> What is different
                                                                                Standard - Business?</h3>
                                                                            <p>Yes, to submission the icon packages are
                                                                                100% free. To meet with hundreds of
                                                                                followers and increase your popularity
                                                                                with your design.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="panel-65-2-0-2"
                                                    class="so-panel widget widget_themestall themestall panel-last-child"
                                                    data-index="4">
                                                    <div class="textwidget">
                                                        <div class="ts-button-center"><a
                                                                href="#/awards/demos/dark"
                                                                data-hoverback="rgb(255, 179, 0)"
                                                                data-currentbg="rgba(255,255,255, 0)"
                                                                data-currentbor="#2c2f33" data-currentcolor="#2c2f33"
                                                                data-hovercolor="#ffffff"
                                                                class="ts-button ts-button-style-default"
                                                                style="color:#2c2f33;background:rgba(255,255,255, 0);border-color:#2c2f33;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px"
                                                                target="_self"><span
                                                                    style="padding:0px 20px;font-size:16px;line-height:22px;border-color:#2c2f33;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">Still
                                                                    have questions? </span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endif %}

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <!-- Content Wrap -->

            {% endblock %}
        
